################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Syrus.Core/obj
/Syrus.Plugin/obj
/Syrus.Test/obj
/Syrus.Plugins.TestPlugin/obj
/Syrus.Core/bin/Debug/netcoreapp2.1
/Syrus.Plugin/bin/Debug/netcoreapp2.1
/Syrus.Test/bin/Debug/netcoreapp2.1
/Syrus.Plugin/bin/Release/netcoreapp2.1
/Syrus.Plugins.Wiki/Properties/PublishProfiles
/Syrus.Plugins.Wiki/obj
/Syrus.Plugins.Wiki/bin
*.user
/Syrus.Plugins.Google/obj
/packages/FluentWPF.0.6.1
/Syrus/bin/Debug
/Syrus/obj/Debug
/Syrus/Properties
/Syrus.Plugins.Translate/obj
/Syrus/obj
/Syrus.Core/bin/Debug/netcoreapp3.0
/Syrus.Test/bin/Debug/netcoreapp3.0
/Syrus_old/bin/Debug
/Syrus_old
/Syrus.Plugins.Weather/obj
/Syrus.Plugins.Calculator/obj
/Pokus/bin/Debug/netcoreapp3.0
/Pokus/obj
/Syrus.Plugin-old
/Syrus.Plugins.Weather-old
/Syrus.Plugins.HexRgb/obj
/Syrus.Plugins.Applications/obj
/Syrus.Styles/bin/Debug/netcoreapp3.0
/Syrus.Styles/obj
/Plugins/Syrus.Plugins.Applications/obj
/Plugins/Syrus.Plugins.Calculator/obj
/Plugins/Syrus.Plugins.Google/obj
/Plugins/Syrus.Plugins.HexRgb/obj
/Plugins/Syrus.Plugins.TestPlugin/obj
/Plugins/Syrus.Plugins.Translate/obj
/Plugins/Syrus.Plugins.Weather/obj
/Plugins/Syrus.Plugins.Wiki/obj
/Syrus.Plugins.Text/obj
/Syrus.Utils/obj
/Plugins/Syrus.Plugins.Calculator/bin/Release
/Syrus.Plugin/bin/Release/netcoreapp3.0
/Syrus.Plugins.Files/obj
/Syrus.Utils/bin/Release/netcoreapp3.0
/Syrus.Styles/bin/Release/netcoreapp3.0
/Syrus.Core/bin/Release/netcoreapp3.0
/Syrus/bin/Release/netcoreapp3.0
