################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Syrus.Core/obj
/Syrus.Plugin/obj
/Syrus.Test/obj
